NODE_ENV=
PORT=
DATABASE_URL=
REACT_URL=
TOKEN_ISSUER=
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_KID=
RESEND_API_KEY=
RATE_LIMIT_MAX=
RATE_LIMIT_LOGIN_MAX=
RATE_LIMIT_TOKEN_MAX=
RATE_LIMIT_FORGOT_PASSWORD_MAX=
RATE_LIMIT_REGISTER_MAX=
